* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display:flex;
    align-items: center;
    justify-content: center;
    min-height:100vh;
    background-color: rgb(255, 255, 255);
}

span {
    font-size: 70px;
    font-weight: bolder;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin:10px;
    color:rgb(255, 255, 255);
}
    .animate {
    animation: colorchange 5s infinite linear;
}

@keyframes colorchange {

   10%, 20%, 30%, 40%, 50%, 53%, 60%, 63%, 70%, 73%, 80%, 83%, 90%, 100%
   { color:rgb(230, 24, 24);
    text-shadow: 0 0 30px rgb(255, 0, 0);
    text-shadow: 0 0 60px rgb(255, 0, 0);
    text-shadow: 0 0 120px rgb(255, 0, 0);
    text-shadow: 0 0 240px rgb(255, 0, 0);
    text-shadow: 0 0 360px rgb(255, 0, 0);
    text-shadow: 0 0 500px rgb(255, 0, 0);
   }
   5%, 15%, 25%, 35%, 45%, 55%, 65%, 75%, 85%, 95%
   {
       color:white;
    text-shadow: 0 0 30px rgb(255, 255, 255);
    text-shadow: 0 0 60px rgb(255, 255, 255);
    text-shadow: 0 0 120px rgb(255, 255, 255);
    text-shadow: 0 0 240px rgb(255, 255, 255);
    text-shadow: 0 0 360px rgb(255, 255, 255);
    text-shadow: 0 0 500px rgb(255, 255, 255);
}
}