body {
    margin: 0;
    padding: 0;
    height: 3000px;
    background: linear-gradient(55deg, #0fb8ad 0%, #1fc8db 51%, #63828d 85%);
}

header {
    position:fixed;
    top:0;
    width:100%;
    height:max-content;
    text-align: center;
    background-color:white;
    transition:0.4s;
}

#heading {
    transition:0.3s;
}