* {margin: 0;}

body {box-sizing: border-box;}

nav {
    position:fixed;
    height:100%;
    width:0;
    background-color:rgba(0, 0, 0, 0.685);
    color:white;
    font-size:20px;
    text-align:left;
    z-index:1;
    transition: 0.5s;
    top: 0;
    left: 0;
    overflow:hidden;
}

nav ul {
    margin:50px;
    list-style-type: none;
    padding:0;
}

li {
    padding:0;
    margin:15px 0;
    cursor:pointer;
}

li:hover {
    color:thistle;
}

h1 {
text-align:center;
padding:50px;
}


.sidenav .closebtn {
position: absolute;
top: 0;
font-size: 36px;
margin-left: 50px;
text-decoration:none;
color:white;
transition:0.2s;
left:130px;
}

.closebtn:hover {
    color:gray;
}

div {
    padding:10px;
    border-radius:10px;
    background-color:orange;
    margin:auto;
    height:20px;
    width:100px;
    cursor:pointer;
    text-align:center;
}
